@model Educationn.Models.student

@{
    ViewBag.Title = "Signup";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Sign up</h1>
                <p class="breadcrumbs"><span class="mr-2">@Html.ActionLink("Home >", "Index", "students")</span> <span>Signup <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex contact-info">
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h3 class="mb-4">Address</h3>
                    <p>198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h3 class="mb-4">Contact Number</h3>
                    <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h3 class="mb-4">Email Address</h3>
                    <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h3 class="mb-4">Website</h3>
                    <p><a href="#">yoursite.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">

    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>student</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { placeholder = "Your Firstname", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { placeholder = "Your Last name", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.fathername, new { htmlAttributes = new { placeholder = "Father name", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.fathername, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.clas, new { htmlAttributes = new { placeholder = "Class", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.clas, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.age, new { htmlAttributes = new { placeholder = "Age", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.contact, new { htmlAttributes = new { placeholder = "Contact", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.contact, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.gender, new { htmlAttributes = new { placeholder = "Gender", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "Your Email", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { autocomplete = "off", placeholder = "Password", @class = "form-control" } })
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Signup" class="btn btn-primary py-3 px-5" />                            
                            @*<a href="#!" onclick="Signup" class="btn btn-primary py-3 px-5">Signup</a>*@
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>